html {
  height: 100%;
  width: 100%;
}
.dd1 {
  color: Pink;
  background-color: Gray;
  text-align: center;
  padding: 50px;
}
.dd2 {
  color: White;
  background-color: Black;
  padding: 15px;
  display: block;
}
.dd2 a {
  color: Green;
}
.dd2 a:hover {
  color: Pink;
  background-color: White;
}
